
/* Actual code below */
:root {
  --river: rgb(11, 136, 219);
  --lightblue: rgb(148,212,252); /* #94D4FC */
  --number: rgb(50, 212, 0);
  --symbol: rgb(235, 157, 12);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* font-weight: bold; */
} 

body {
  background-color: var(--lightblue);
  overflow: hidden;
  /* Disable double click to highlight text */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header {
  background: white;
  padding: 20px;
  height: 220px;
  /* background-color: aqua; */
} 

.header-content {
  text-align: center;
  width: 100%;
  margin: 140px auto;
  font-weight: bold;
}

#title {
  color: var(--lightblue);
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 50px auto;
  width: 100%;
  font-size: 4rem; 
  /* margin: 20px auto; */
  /* font-size: 2rem; */
  /* background-color: pink; */
}

.hud-item {
  color: var(--lightblue);
}

/*  ----------------- Gamemode Selection ----------------- */
.menu {
  margin-top: 2%;
  text-align: center;
}

.menu-title {
  color: white;
  font-weight: bold;
  font-size: 34px;
}

.gamemode {
  margin: 20px auto;
}

.gamemode tr {
  height: 70px;
}

.mode-label {
  text-align: right;
  color: white;
}

.mode-option {
  width: 200px;
}

.select-symbol {
  display: inline-block;
  width: 40px;
  margin-left: 10%;
  padding: 15px;
  background-color: rgb(177, 252, 136);
}

.select-symbol:hover {
  animation-name: zoom-out;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

.unselected {
  background-color: rgba(177, 252, 136, 0.336);
  color: rgba(0, 0, 0, 0.336);
}

@keyframes zoom-out {
  100% {
    transform: scale(1.1);
  }
}

#difficulty, #health {
  height: 25px;
  width: 80%;
  margin: 0 15%;
}

.start-game {
  font-size: 1.4rem;
  background-color: var(--river);
  width: 150px;
  padding: 10px;
  margin: auto;
  cursor: pointer;
  color: white;
}

.start-game:hover {
  background-color: var(--river);
  opacity: 0.7;
  animation-name: start;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  /* width: 200px; */
}

@keyframes start {
  100% {
    transform: scale(1.1);
  }
}

.hidden {
  display: none;
}

/*  ----------------- Equation ----------------- */
.equation {
  margin: 20px auto;
  border: 3px solid white;
  width: 500px;
  height: 65px;
  text-align: center;
  color: rgb(35 112 160);
  font-size: 38px;
  border-radius: 5px;
  padding: 5px 10px;
}

.equation-slot {
  display: inline-block;
  width: 60px;
  border-radius: 10px;
  padding: 3px;
  color: white;
  cursor: pointer;
}

.equation-slot:nth-child(2) {
  background-color: var(--symbol);
}

.equation-slot:nth-of-type(odd) {
  background-color: var(--number);
  width: 90px;
}

.user-input {
  line-height: 40px;
  width: 100px;
  height: 50px;
  padding: 3px;
  font-size: 38px;
  color: var(--lightblue);
  border-radius: 5px;
  border: none;
  text-align: center;
}

.user-input::placeholder {
  color: var(--lightblue);
}

/* ----------------- River ----------------- */
.river {
  background-color: var(--river);
  height: 50vh;
  position: relative;
}

.rubbish {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  padding-top: 0.6%;
  color: white;
  cursor: pointer;
  text-align: center;
  /* display: block; */
  position: absolute;
  font-size: 32px;
}

.number {
  background-color: var(--number);
}

.symbol {
  background-color: var(--symbol);
}
