
/* Actual code below */
:root {
  --river: rgb(148,212,252); /* #94D4FC */
  --number: rgb(50, 212, 0);
  --symbol: rgb(235, 157, 12);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* font-weight: bold; */
} 

body {
  background-color: var(--river);
}

header {
  background: white;
  padding: 20px;
}

header > h1 {
  color: var(--river);
  text-align: center;
}

.hud {
  display: flex;
  justify-content: space-between;
  margin: 20px 30px;
  font-weight: bold;
}

.hud-item {
  
}

.equation {
  margin: 20px auto;
  border: 3px solid white;
  width: 500px;
  height: 65px;
  text-align: center;
  color: rgb(35 112 160);
  font-size: 38px;
  border-radius: 5px;
  padding: 5px 10px;
}

.equation-slot {
  display: inline-block;
  width: 30px;
  border-radius: 10px;
  padding: 3px;
  color: white;
}

.equation-slot:nth-child(2) {
  background-color: var(--symbol);
}

.equation-slot:nth-of-type(odd) {
  background-color: var(--number);
  width: 90px;
}

.user-input {
  line-height: 40px;
  width: 100px;
  height: 50px;
  padding: 3px;
  font-size: 38px;
  color: var(--river);
  border-radius: 5px;
  border: none;
  text-align: center;
}

.user-input::placeholder {
  color: var(--river);
}








/* body {
  margin: 0;
  color:rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  background-color: rgb(148,212,252);
  width: 100%;
  max-height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.hud {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: 80px;
}

.hud-item {
  border: 2px dashed rgb(0, 0, 0);
  width: 200px;
  font-size: 1.3rem;
  align-self: center;
}

.equation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 80px;
  font-size: 3rem;
  border: 4px solid rgb(2, 57, 92);
  background-color: rgb(240, 249, 255);
  color: rgb(0 74 189);
  
}

.river {
  background: #0099ff;
  width: 100%;
  height: auto;
}


.river p {
  font-size: 1.8rem;
} */